# PANDAS USAGE

In [15]:
import numpy as np
import pandas as pd
np.random.seed(101)
# pandas para peque√±os o medios proyectos ya que carga todo en RAM

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}

##Pandas Series

A pandas serie can be build with :
* a python list (one list for data, another for labels), 
* with a python dictionari or 
* a numpy array

If no labels are specified, then pandas assign numbers from 0 to N. The content of the serie can be any object.

The series can use any datatype from the numpy library (such as int8, float16, ...)

In [12]:
#python lists
s1 = pd.Series(data=my_list, index=labels, dtype=np.int8)
#numpy array
s2 = pd.Series(arr)
#python dictionari
s3 = pd.Series(d)
s4 = pd.Series([sum, print, len])
print(s1)
print(s3)

a    10
b    20
c    30
dtype: int8
a    10
b    20
c    30
dtype: int64

##Pandas data frame

A data frame is a union of series, with the following format:

* For accessing a column, use the ['key'] or a list of keys or with a dot and the column name.

In [66]:
df = pd.DataFrame(np.random.randn(5,4), index='A B C D E'.split(), 
                  columns='W X Y Z'.split())
print(df)
print(df[['W', 'Z']])
print(df.W)

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082
          W         Z
A -1.467514  0.485809
B  0.392489  1.541990
C  0.666319  1.407338
D  0.641806  1.028293
E -1.972605 -1.223082
A   -1.467514
B    0.392489
C    0.666319
D    0.641806
E   -1.972605
Name: W, dtype: float64

## Data frame modify columns / records
In many methods, the inplace parameter is used to apply to the var the changes.

### Columns
* For adding new columns, acces a with a new column name.
* For deleting, the key 'del' followed with the df column or 
* Use the method drop(axis='column'|'index').

### Records
* For select a record, acces with the loc('r', 'col') method. The r and the col parameter can be a pytohn list to select several chunks of the dataset.
* The iloc(N) method is used to select the N-th record of the dataset(or a slice). N goes from 0 to N-1.

In [34]:
df['append'] = 0
df['new col'] = 5
df

          W         X         Y         Z  append  new col
A  0.386030  2.084019 -0.376519  0.230336       0        5
B  0.681209  1.035125 -0.031160  1.939932       0        5
C -1.005187 -0.741790  0.187125 -0.732845       0        5
D -1.382920  1.482495  0.961458 -2.141212       0        5
E  0.992573  1.192241 -1.046780  1.292765       0        5

In [35]:
del df['new col']
df.drop('append', axis='columns', inplace=True)
df.drop('E', axis='index', inplace=True)
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212

In [44]:
df.loc[['A', 'B'], ['W', 'Y']]
df.iloc[0:2]

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932

## Data frame selection

Using boolean conditions, a filter can be applied to a data frame.

In [57]:
print(df > 0)
print(df[df > 0])
print(df[(df['W']>0) & (df['Z'] > 0)])

       W      X      Y      Z
A   True   True  False   True
B   True   True  False   True
C  False  False   True  False
D  False   True   True  False
          W         X         Y         Z
A  0.386030  2.084019       NaN  0.230336
B  0.681209  1.035125       NaN  1.939932
C       NaN       NaN  0.187125       NaN
D       NaN  1.482495  0.961458       NaN
          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932

## Data frame index
The indexs of the dataframe can be modify with the set_index() method.

Also, a multiindex can be used:

In [67]:
print(df)
df['States'] = 'CA NY WY OR CO'.split()
df.set_index('States', inplace=True)
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

               W         X         Y         Z
States
CA     -1.467514 -0.494095 -0.162535  0.485809
NY      0.392489  0.221491 -0.855196  1.541990
WY      0.666319 -0.538235 -0.568581  1.407338
OR      0.641806 -0.905100 -0.391157  1.028293
CO     -1.972605 -0.866885  0.720788 -1.223082